{% csrf_token %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    	
</head>

<body>
	<div class="container">
		<h1>Add Books!</h1>
		<form action="{% url 'add_book' %}" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label>Title: </label>
				<input type="text" class="form-control" name="title"/>
			</div>
			<div class="form-group">
				<label>Author: </label>
				<input type="text" class="form-control" name="author"/>
			</div>	
			<input type="submit" class="btn btn-default" value="Add Book"/><br>
		</form>
		
		<div class="footer">
			<a href="{% url 'books' %}">See full list of books</a>&nbsp |
			<a href="{% url 'borrowerslist' %}">Search for the list of books borrowed by a student</a>&nbsp |
			<a href="{% url 'overdue' %}">See amount to be paid by overdue and lost books</a>&nbsp |
			<a href="{% url 'index' %}">Go back to the homepage. </a>
		</div>
	</div>
</body>
