{% load staticfiles %}

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    	
</head>

<body>
	<div id="container">
		<h1>Book added successfully!</h1>
	
		<div class="footer">
			<a href="{% url 'books' %}">See full list of books</a>&nbsp |
			<a href="{% url 'borrowerslist' %}">Search for the list of books borrowed by a student</a>&nbsp |
			<a href="{% url 'overdue' %}">See amount to be paid by overdue and lost books</a>&nbsp |
			<a href="{% url 'index' %}">Go back to the homepage </a>
		</div>
	</div>
</body>