{% load staticfiles %}
{% csrf_token %}

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    	
</head>

<body>
	<div class="container">
		<h1>Search books borrowed by a student</h1>
		<form action="{% url 'borrowers_list_of_books' %}" method="POST">
			<div class="form-group">
				<label>Name: </label>
				<input type="text" class="form-control" name="name_textarea"/><br>
				<input type="submit" class="btn btn-default" value="Submit">
			</div>
		</form>

		<div class="footer">
			<a href="{% url 'books' %}">See full list of books</a>&nbsp |
			<a href="{% url 'add_book' %}">Add Book</a>&nbsp |
			<a href="{% url 'overdue' %}">See amount to be paid by overdue and lost books</a>&nbsp |
			<a href="{% url 'index' %}">Go back to the homepage</a>
		</div>
	</div>
</body>


