{% load staticfiles %}

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    	
</head>

<body>
	<div class="container">
		<h1>List of books borrowed by</h1>
		{% if books_borrowed %}
			<table class="table table-hover">
				<ul>
					<tr class="info">
						<th width="30%" align="left">TITLE</th>
						<th width="30%" align="left">AUTHOR</th>
					</tr>
					{% for book in books_borrowed %}
						<tr>
							<td width="30%">{{ book.title }}</td>
							<td width="30%">{{ book.author }}</td>
						</tr>
					{% endfor %}	
				</ul>
			</table>
		{% else %}
			<p>No books are available.</p>	
		{% endif %}
		
		<div class="footer">
			<a href="{% url 'books' %}">See full list of books</a>&nbsp |
			<a href="{% url 'add_book' %}">Add Book</a>&nbsp |
			<a href="{% url 'borrowerslist' %}">Search for the list of books borrowed by a student</a>&nbsp |
			<a href="{% url 'overdue' %}">See amount to be paid by overdue and lost books</a>&nbsp |
			<a href="{% url 'index' %}">Go back to the homepage</a>
		</div>
	</div>
</body>

