{% load staticfiles %}

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    	
</head>

<body>
	<div class="container">
		<h1>List of Overdue Books</h1>
		{% if overdue_list %}
			<table class="table table-hover">
				<ul>
					<tr class="info">
						<th width="20%" align="left">TITLE</th>
						<th width="15%" align="left">AUTHOR</th>
						<th width="15%" align="left">BORROWER</th>
						<th width="20%" align="left">AMOUNT TO BE PAID</th>
					</tr>	
				{% for book in overdue_list %}
					<tr>
						<td width="20%">{{ book.title }}</td>
						<td width="15%">{{ book.author }}</td>
						<td width="15%">{{ book.borrower }}</td>
						<td width="20%">{{ book.amount }}</td>
					</tr>
				{% endfor %}	
			</ul>
			</table>
		{% else %}
			<p>No books are available.</p>	
		{% endif %}

		<h1>List of Lost Books</h1>
		{% if lost_list %}
			<table class="table table-hover">
				<ul>
					<tr class="info">
						<th width="20%" align="left">TITLE</th>
						<th width="15%" align="left">AUTHOR</th>
						<th width="15%" align="left">BORROWER</th>
						<th width="20%" align="left">AMOUNT TO BE PAID</th>
					</tr>	
				{% for book in lost_list %}
					<tr>
						<td width="20%">{{ book.title }}</td>
						<td width="15%">{{ book.author }}</td>
						<td width="15%">{{ book.borrower }}</td>
						<td width="20%">{{ book.amount }}</td>
					</tr>
				{% endfor %}	
			</ul>
		</table>
		{% endif %}

		<div class="footer">
			<a href="{% url 'books' %}">See full list of books</a>&nbsp |
			<a href="{% url 'add_book' %}">Add Book</a>&nbsp |
			<a href="{% url 'borrowerslist' %}">Search for the list of books borrowed by a student</a>&nbsp |
			<a href="{% url 'index' %}">Go back to the homepage</a>
		</div>
	</div>
</body>