body {
	background: white url("images/background.gif") no-repeat;
	background-size: cover;
}

#index_title {
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 10%;
	font-size: 70px;
	color: black;
	background-color: white;
}

.form-control {
	width: 35%;
} 

.footer {
	position: fixed;
    bottom: 20px;
    width: 100%;
}